@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 7%;
  margin-top: 5px;
  z-index: 9999;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

nav li {
  margin-left: 3%;
  position: relative;
}

nav ul li a {
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  padding: 10px;
}
nav ul li a.active {
  color: #ffde59;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  padding: 10px;
}

nav a:hover {
  color: #ffde59;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #ffde59;
  width: 100%;
  padding: 5%;
  border-radius: 0% 0% 10% 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 100%;
  padding: 2% 2%;
}

nav ul li ul li a {
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  padding: 3%;
}

nav ul li ul li a:hover {
  color: #ffde59;
}


.main-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0px 0px 70px;
  box-sizing: border-box;
  background-position: left top;
  background-size: auto;
}

.main-content {
  width: 100%;
  margin: 15% 5%;
 
}
.main-content h2 {
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: 700;
  color: black;
  line-height: 1em;
  font-family: 'Viga';
}

.main-content p {
  font-size: 25px;
  margin: 20px 0;
  line-height: 1.3em;
  font-family: 'Ubuntu';
}


button {
  display: inline-block;
  background-color: #fa9304;

  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #f7c2f9;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content-wrap .lSide {
  width: 40%;
}

.content-wrap .rSide {
  width: 60%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: left;

}



.left-side {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
}