@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

.logo{

  margin-top: 5px;
  padding: 5px;
  size: 2%;
  height: 20%;
  width: 10%;
  margin-left: -20px;
 margin-top: -65px;

}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
  width: 90%;
  margin: 85px 20px 2px;
  /*background-color: #d69e04;*/
  /*background-color: #d69e04;*/
}

.section img {
  height: 300px;
  padding: 7px;
}

.section h2 {
  font-family: 'Viga';
  font-size: 50px;
  font-weight: 700;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

.section p {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: black;
  margin-right: 15px;
  font-family: 'Ubuntu';
}

.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 15px;
}

.header-nav a {
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
}

.header-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 13px;
}

.header-nav ul {
  margin: 0;
  padding: 0;
}

.header-nav a:hover {
  color: #d69e04;
}

.main-header {
  color: #425564;
  font-size: 40px;
  margin: 15px;
  font-family: 'Viga';
  /*background-color: #d69e04;*/
}
.main-header h2{
  font-family: 'Viga';
}


button {
  display: inline-block;
  background-color:   #fa9304;

  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #f7c2f9;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}