@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

.logo{
    padding: 5px;
    size: 20px;
    height: auto;
    width: 500px;
    margin-left: -130px;
   margin-top: -60px;
}

.section {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
  width: 90%;
  margin: 20px 20px 2px;
  /*background-color: #d69e04;*/
  /*background-color: #d69e04;*/
}

.section img {
  height: 300px;
  padding: 7px;
}

.section h2 {
  font-family: 'Viga';
  font-size: 50px;
  font-weight: 700;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

.section p {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: black;
  margin-right: 15px;
  font-family: 'Ubuntu';
}


.header-nav {
  position: absolute;
top: 0;
right: -25px;
height: 5%;
margin: 15px;
padding-top: 4px;
}

.header-nav a {
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  margin: 0 4px 0 0;
}

.header-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 8px;
  
}

.header-nav ul {
  margin: 0;
  padding: 0;
}

.header-nav a:hover {
  color: rgba(255,209,135,0.777450946198792);
}



.main-header {
  
  color: #425564;
  font-size: 40px;
  margin: 0px;
  font-family: 'Viga';

  /*background-color: #d69e04;*/
}
.main-header h2{
  font-family: 'Viga';
}


button {
  display: inline-block;
  background-color:   #fa9304;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 300px;
  height: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #f7c2f9;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}