@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Viga';
    overflow: hidden;
}


.center{
    position: absolute;
    left: 33%;
    top: 15%;
    transform: translate(-50% -50%);
    width: 400px;
    background-color: transparent;
    border: none;
    text-align: center  ;
    background-color: white;
}

.login_header{
    text-align: center;
    padding: 0 0 20px 0;
    color: #425564;
    font-size: 25px;
    margin-bottom: 5%;
    margin-top: 15%;

    
}
.center table{
    padding: 0 40px;
    box-sizing: border-box;
}


.text input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    border-bottom: 2px solid   #ff914d;
    border-top: none;
    color:#425564 ;
    font-size: 20px;
    margin: 10px 0;
    margin-left: 30px;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;

}
.text-a input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    border-bottom: 2px solid   #ff914d;
    border-top: none;
    color:#425564 ;
    font-size: 20px;
    margin: 10px 0;
    margin-left: 30px;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;
    margin-top: 10%;
    margin-left: 240%;
    margin-bottom: 20%;

}
.create{
    margin: -5px 0 20px 0;
    color:#ff914d;
    cursor: pointer;
}
.forgot_a{
    margin: -5px 0 20px 0;
    color: #ffbd59 ;
    cursor: pointer;
}
.irlogin{
    margin: -5px 0 20px 0;
    color:#ff914d ;
    cursor: pointer;
}
.loginbutton_p{
    width: 50%;
    height: 50%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 5px;
    background:#ff914d ;
    border-radius: 12px;
}
.register_button{
    width: 50%;
    height: 50%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 5px;
    background:#ff914d ;
    border-radius: 12px;
}
.register_main {
    margin-left: 60%;
}


.hero {
  width: 100%;
  height: 100%;
}

.logo {
  width: 7%;
  margin-top: 5px;
}

.perfil {
  cursor: pointer;
  border-radius: 50%;
  right: 0;
  width: 40px;
}

.logo {
  width: 7%;
  margin-top: 5px;
  z-index: 9999;
}


nav {
    
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
  width: 100%;
  padding: 10px;
     
}

nav ul {
  width: 93%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

nav  li {
  margin-left: 20px;
}

nav ul li a {
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
}

nav a:hover {
  color: #ffde59;
}
nav ul li ul {
  display: none;
  position: absolute;
  border:  2px solid  #ffde59;
  width: 100%;
  padding: 5%;
  border-radius: 0% 0% 10% 10%;
}
nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 100%;
  padding: 2% 2%;

}

nav ul li ul li a{
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  padding: 3%;
}


nav ul li ul li a:hover {
  color: #ffde59;
}



.warning {
    color: darkred;
    font-size: larger;
}

#matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#matches section {
    background-color: crimson;
    color: white;
    margin: 5px;
    padding: 5px;
}

/* Game CSS*/
#game {
    position: relative;
}

button.game {
    font-size: 1.5em;
    background-color: #2ea44f;
    color: white;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    margin-left: 500px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Viga', sans-serif;
    color: #425564;
}

.reset_section {
    font-size: 22px;
    color: #425564;
    margin-left: 350px;
    margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
}




.reset_button {
    margin-left: 620px;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 120px;

}

h4 {
    font-size: 26px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Viga', sans-serif;
    color: #425564;
}

.recuperar_section {
    font-size: 22px;
    color: #425564;
    margin-left: 350px;
    margin-top: -60px;
    font-family: 'Ubuntu', sans-serif;
}




.recuperar_button {
    margin-left: 600px;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 120px;

}
.forgot_aa{
    margin-left: 620px;
    color: #ffa500;
    margin-top: 30px;
    
}
.forgot_aaa{
    margin-left: 580px;
    color: orange;
    margin-top: 10px;

    
}