@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
.hero {
    width: 100%;
    height: 100%;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    width: 7%;
    margin-top: 5px;
  }
  
  
  .logo {
    width: 7%;
    margin-top: 5px;
    z-index: 9999;
  }
  
  nav {
      
    
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    width: 100%;
    padding: 10px;
    background-color: white;
       
  }
  
  nav ul {
    width: 93%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  nav  li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    transition: color 0.3s linear;
    font-family: 'Ubuntu';
  }
  
  nav a:hover {
    color: #ffde59;
  }
  nav ul li ul {
    display: none;
    position: absolute;
    border:  2px solid  #ffde59;
    width: 100%;
    padding: 5%;
    border-radius: 0% 0% 10% 10%;
  }
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    width: 100%;
    padding: 2% 2%;
  
  }
  
  nav ul li ul li a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
    font-family: 'Ubuntu';
    padding: 3%;
  }
  
  
  nav ul li ul li a:hover {
    color: #ffde59;
  }

  #city-info{
    font-size: 17px;
  }

  #city-info h2{
    text-align: center;
    font-family: 'Ubuntu';
  }

  #city-info p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
  }
  
  .button{
    width: 10%;
    height: 15%;

    border: 2px solid white;
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background:#ff914d ;
    border-radius: 12px;
  }