@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100%;
}

.logo {
    width: 7%;
    margin-top: 30px;
    margin-left: 40px;
}

.perfil {
    cursor: pointer;
    border-radius: 50%;
    right: 0;
    width: 40px;
}

nav {
    
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    width: 100%;
    padding: 1%;
       
  }
  
  nav ul {
    width: 93%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  nav ul li {
    margin-left: 3%;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
    font-family: 'Ubuntu';
  }
  nav ul li ul {
    display: none;
    position: absolute;
    border:  2px solid  #ffde59;
    width: 100%;
    padding: 5%;
    border-radius: 0% 0% 10% 10%;
  }
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    width: 100%;
    padding: 2% 2%;
  
  }
  
  nav ul li ul li a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
    font-family: 'Ubuntu';
    padding: 3%;
  }
  
  
  nav ul li ul li a:hover {
    color: #ffde59;
  }
  
  nav a:hover {
    color: #ffde59;
  }
  

.go{
    width: 500px;
    height: 70px;
    border: 3px solid #ff914d;
    border-radius: 12px;
    color: white;
    background-color: #ff914d;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 10%;
    margin: 10% 30% 0 15%;
}
.go a:hover {
    color: #ffbd59;
}


button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #ffde59;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#background {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0,0,0,7), rgba(0,0,0,07));*/
    background-size: cover;
    background-position: center;
}

#list li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    left: 200px;
    font-size: 15px;
}

#list a {
    text-decoration: none;
    color: black;
}

#content {
    
    color: #425564;
    position: absolute;
    top: 22%;
    margin: 0 30% 0 30%;
    text-align: center;

}

#content h1 {
    font-size: 60px;
    margin: 18px 0;
    font-family: 'viga';
    color: #ff914d;
    text-align: center;
    font-weight: bold;

}

#content p {
    font-size: 25px;
    margin: 20px 0;
    font-family: 'Ubuntu';
    color: #425564;
    font-weight: bold;

}

.input1 {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 8px 18px;
    font-family: 'Ubuntu';
}

.input2 {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 8px 18px;
    left: 0px;
    font-family: 'Ubuntu';
}

#b1 {
    border: solid #425564;
    color: #425564;
    width: 100px;
    padding: 10px 18px;
    background-color: rgba(255, 209, 135, 0.777450946198792);

    position: relative;
    cursor: pointer;
    font-family: 'Viga';

}

#b1 {
    right: 10%;
    top: 0px;

}

#b2 {
    border: solid #425564;
    color: #425564;
    width: 100px;
    padding: 10px 18px;
    background-color: rgba(255, 209, 135, 0.777450946198792);

    position: relative;
    cursor: pointer;
    font-family: 'Viga';


}

#b2 {
    right: 10%;
    top: 0px;

}

#b3 {
    border: solid#425564;
    color: #FFCEC3;
    width: 100px;
    padding: 10px 18px;
    background-color: #425564;
    position: relative;
    cursor: pointer;
    font-family: 'Viga';
    text-decoration: none;
    text-transform: uppercase;

}

.b3-li {
    list-style: none;
    display: inline-block;

}

#b3 {
    right: 5%;
    top: 0px;

}

.wrapper {
    margin: -80px auto;
    padding: 10px 10%;
    padding-bottom: 250px;
    text-transform: capitalize;
    color: #355268;
    background: #ffbd59;
    border-radius: 15px;
    
}

.wrapper h1 {
    text-align: center;
    font-size: 45px;
    margin: 100px 0;
    font-family: 'Viga';
    color: #355268;

}

.conatiner {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Ubuntu';
    color: #355268;

}


.box2,
.box3,
.box4 h2 {
    text-align: center;
    color: #355268;
    padding: 10px 0;
    font-size: 23px;
    font-family: 'Ubuntu';

}



.box2,
.box3,
.box4 p {
    text-align: center;
    color: #355268;
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Ubuntu';
}



.box2 {
    height: 170px;
    padding: 20px;
    border-radius: 5px;
    background: #EE8D56;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 2);
}

.box3 {
    height: 170px;
    padding: 20px;
    border-radius: 5px;
    background: #8BDDA7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 2);
}

.box4 {
    height: 170px;
    padding: 20px;
    border-radius: 5px;
    background: #56CAEE;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 2);
}