body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

 
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  box-sizing: border-box;
}


.logo {
  width: 7%;
  margin-top: 5px;
  z-index: 9999;
}

nav {
    
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
  width: 100%;
  padding: 1%;
     
}

nav ul {
  width: 93%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

nav ul li {
  margin-left: 3%;
  position: relative;
}

nav ul li a {
  display: block;
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
}

nav ul li a.active {
  display: block;
  color: #ffde59;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
}
nav ul li ul {
  display: none;
  position: absolute;
  border:  2px solid  #ffde59;
  width: 100%;
  padding: 5%;
  border-radius: 0% 0% 10% 10%;
}
nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 100%;
  padding: 2% 2%;

}

nav ul li ul li a{
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  transition: color 0.3s linear;
  font-family: 'Ubuntu';
  padding: 3%;
}


nav ul li ul li a:hover {
  color: #ffde59;
}

nav a:hover {
  color: #ffde59;
}


.main-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0px 0px 70px;
  box-sizing: border-box;
  background-position: left top;
  background-size: auto;
}

.main-content {
  width: 100%;
  margin: 15% 5%;
 
}
.main-content h1 {
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: 700;
  color: black;
  line-height: 1em;
  font-family: 'Viga';
}



.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content-wrap .lSide {
  width: 30%;

  margin-top: 15%;
margin-left: 15%;
}

.content-wrap .rSide {
  width: 40%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: left;
  margin-top: 0;

}



.left-side {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

.img{
  width: 100%;
  border-radius: 20%;
}

.button{
    width: 30%;
    height: 10%;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    background:#ff914d ;
    border-radius: 12px;
}
.user{
  font-size: 30px;
 
}