body{
    display: grid;
    grid-template-areas: 'h' 'main' 'f';
}

header {
    display: flex;
    grid-area: h;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: blue;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }

.perfil{
    left: 0;
}
  .header-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 5%;
  margin: 15px;
  }
  
  .header-nav a {
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
    font-family: 'Ubuntu';
  }
  
  .header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 13px;
  }
  
  .header-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav a:hover {
    color: rgba(255,209,135,0.777450946198792);
  }

  main {
    display: flex;
    grid-area: main;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: greenyellow;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  
  section button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  section button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  
  section img {
    margin-bottom: 20px;
  }
  
  section table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  
  section td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  section input {
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Style for footer */
  footer {
    display: flex;
    grid-area: f;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #425564;
    color: #fff;
  }
  
  footer p {
    margin: 0;
    margin-right: 10px;
  }
  
  footer img {
    height: 20px;
    right: 0;
   
  }
  