
.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin: 15px;
  }
  
  .header-nav a {
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
  }
  
  .header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 13px;
  }
  
  .header-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav a:hover {
    color: #d69e04;
  }

  
  h1{
    font-size: 100px;
    color: rgb(82, 82, 255);
    margin-top: 15%;
    text-align: center;
    position: center;
  }

  h2{
    margin-top: -25px;
    color: #fa9304;
    font-size: 50px;
    text-align: center;
    position: center;
  }
  h3{
    text-align: center;
  }
 

  button {
    display: inline-block;
    background-color: #fa9304;
  
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 40%;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: #ffde59;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }